@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Open+Sans:wght@300&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Mono:wght@700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Space+Mono:wght@700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Space+Mono:wght@700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@700&family=Space+Mono:wght@700&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@700&family=Space+Mono:wght@700&family=Work+Sans&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family:  "Roboto", "Manrope",  Helvetica, Arial, sans-serif;
    /* background-color: #f2f2f3; */
  }
  /* "Manrope" */
  html {
    scroll-behavior: smooth;

}
.container {
  width: 80%;
  margin-left: 10%;
}
@media (max-width:940px) {
  .container {
    width: 90%;
    margin-left: 5%;
  }
}
  nav {
    width: 100%;
    padding: 12px 0;
    background: white;
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10;
    overflow-x: hidden;
    top: 0px;
    opacity: 0.95;
    /* box-shadow: -3px -3px 7px #ffffff,
             3px 3px 5px #ceced1,
             inset -3px -3px 7px #ffffff,
             inset 3px 3px 5px #ceced1; */
}

nav .menu {
    /* max-width: 1270px; */
    /* margin: auto;
    margin-right: auto;
    margin-left: auto; */
    /* padding: 0 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
}

.menu .logo a {
    font-size: 28px;
    height: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    display: inline;
}

.menu .logo a {

    text-decoration: none;

}

.menu .logo a .light {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #FCE971;
    display: inline;

}

/* .logo {
    height: 55px;
    width: 80px;
} */

.logo_img {
    width: 90%;
    height: 90%;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul a {
    margin: 0 8px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 400;
    display: inline-flex;
   
    padding: 15px 17px;
    /* box-shadow: -3px -3px 7px #ffffff,
            3px 3px 5px #ceced1; */
    position: relative;
    transition: all 0.3s ease;
}

.menu ul a:hover:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1; */
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.upper {
    font-size: 40px;
    font-weight: 600;
    color: black;
}

.lower {
    font-size: 40px;
    font-weight: 600;
    color: black;
}

.menu ul a:hover {
    color: rgba(253, 136, 1, 1);
}

nav label.btn {
    color: rgba(253, 136, 1, 1);
    font-size: 28px;
    cursor: pointer;
    display: none;
}

nav label.cancel {
    position: absolute;
    top: 25px;
    right: 30px;
    font-weight: 200;

}

#check {
    display: none;
}

.active_lang {
    color: rgba(253, 136, 1, 1) !important;
}

.lang-button {
    cursor: pointer;
    padding: 5px 20px !important;
    margin: 0 !important;
    width: auto !important;
    color: white;
}

.lang_border {
    cursor: pointer;
    border-right: 1px solid rgb(226, 226, 226);
}

.language_container {
    margin-top: 0px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1200px) {
    nav .menu {
        max-width: 1270px;
        margin: auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 66px;
    }

    .lang-button {
        cursor: pointer;
        padding: 5px 20px !important;
        margin: 0 !important;
        width: auto !important;
    }

    .lang_border {
        cursor: pointer;
        border-right: 1px solid black;
    }

    .language_container {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu ul {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        max-width: 400px;
        padding-top: 45px;
        height: 100%;
        background: white;
        /* box-shadow: 0 5px 10px #b0b0b5; */
        z-index: 12;
        transition: all 0.3s ease;
    }

    .menu ul a {
        display: block;
        font-size: 23px;
        width: 100%;
        margin-top: 30px;
        box-shadow: none;
        text-align: center;
    }

    .menu ul a:hover:before {
        box-shadow: none;
    }

    nav label.bars {
        display: block;
    }

    #check:checked~label.bars {
        display: none;
    }

    #check:checked~ul label.cancel {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }
}
@media (max-width:1400px) {
  .menu ul a {
    padding: 15px 7px;
}
}

/*navbar css end*/

/* Main corusel css */
/* img style  */
.main-carousel {
    position: relative;
    height: 675px;
    font-size: 30px;
    padding-top: 1px;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin-top: 100px;
  }
  
  .main-carousel .carousel {
    margin: 0px 0 30px 0;
    width: 100%;
  }
  
  .main-carousel .carousel .items {
    width: 100%;
  }
  
  .main-carousel .carousel .items .carousel-image {
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: 0.5s all;
  }
  
  .main-carousel .carousel .items .current {
    opacity: 1;
  }
  
  .main-carousel .buttons #prevBtn,
  .main-carousel .buttons #nextBtn {
    height: 35px;
    width: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    opacity: 0.7;
    position: absolute;
  }
  
  .main-carousel .buttons #prevBtn:hover,
  .main-carousel .buttons #nextBtn:hover {
    opacity: 1;
  }
  
  .main-carousel .buttons #prevBtn {
    top: 50%;
    left: 3%;
  }
  
  .main-carousel .buttons #nextBtn {
    top: 50%;
    right: 3%;
  }
  
  .main-carousel .nav-dots {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 99;
  }
  
  .main-carousel .nav-dots .dot {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .main-carousel .nav-dots .active {
    opacity: 1;
  }
  
  .img_card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img_text {
    top: 400px !important;
    position: absolute;
    font-size: 32px;
    color: white;
    width: 100%;
    /* bottom: 0%; */
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.502);
    font-size: 30px;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 10px;
  
  }
  
  .img_text h3 {
    width: 100%;
    margin: 30px auto;
    font-size: 23px;
}


/* Corusel end */

/* About */
.about {
    padding-top: 95px;
    padding-bottom: 70px;
}
.about_block {
    display: flex;
    align-items: center;
    column-gap: 7%;
}
.about_content {
    width: 46.5%;
}
.about_title {
   
    font-size: 30px;
    font-weight: 400;
    color: rgb(253, 136, 1, 1);
    padding-bottom: 35px;
    line-height: 35.16px;
}
.about_content_text {
    padding-bottom: 20px;
}
.about_content_text p {
    font-weight: 400;
    font-size: 22px;
    color: #000;
    line-height: 30px;
}
.about_img {
  width: 46.5%;
}
.about_img img {
    width: 100%;
}
.news_title {
  padding-bottom: 55px;
  padding-top: 95px;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
}
@media (max-width:960px) {
    .about_block {
        display: flex;
        flex-flow: column-reverse;
    }
    /* .about_title {
        width: 100%;
        font-size: 30px !important;
    } */
    .about_content {
        width: 100%;
        padding-top: 15px;
    }
    .about_title {
        padding-bottom: 18px;
        padding-top: 25px;
    }
    .about_content_text p {
     
      font-weight: 400;
      font-size: 20px;
  }
  .about_title {
   
    font-size: 30px;
    font-weight: 400;
}
}
@media (max-width:1100px) {
  .about_block {
    display: flex;
    flex-flow: column-reverse;
  }
  .about_content {
    width: 100%;
    padding-top: 20px;
  }
  /* Servige DRL Mobil version 1200*/
  .service_dtl_title {
    font-size: 20px;
  }
  .about_img {
    width: 100%;
    padding-bottom: 30px;
  }
  
}
@media (max-width:390px) {
  .about_img {
    padding-bottom: 0px;
  }
}

/* About End */

/* Sevice */

.services {
    background-color: rgb(241, 241, 241, 1);
}
.service_title {
    padding-top: 95px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 40px;
    line-height: 60px;

}
.services_block_img img {
    width: 100%;
    max-height: 400px;
}
.services_block {
    display: flex;
    column-gap: 7%;
    row-gap: 40px;
    flex-wrap: wrap;
    /* justify-content: space-around; */

}
.services_block_product {
    width: 46.5%;
    background-color: white;
}
.services_block_content {
    padding: 30px 40px;
    background-color: white;
}
.services_block_content h2 {
    padding-bottom: 29px;
   
    font-size: 26px;
    line-height: 30px;
}
.more_container {
  display: flex;
  justify-content: flex-end;
}
.services_block_content a {
    list-style: none;
    text-decoration: none;
    padding-top: 40px;
    color: rgb(253, 136, 1, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.services_block_content_text p {
   
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}
.services_btn {
    display: flex;
    justify-content: center;
    padding: 89px 0px 70px 0px;
}
/* More btn */
/* More btn */
/* .services_btn a{
    font-weight: 400;
   
    font-size: 20px;
    padding: 14px 70px;
    border-radius: 14px;
    border: 1px solid rgba(253, 136, 1, 1);
    background: rgba(253, 136, 1, 1);
    color: white;
    line-height: 32px;
    text-decoration: none;
} */
.wrap {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 14px 70px !important;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff !important;
  background-color: rgba(253, 136, 1, 1)  !important;
  border: 2px solid  rgba(253, 136, 1, 1)  !important;
  border-radius: 3px !important;
  /* box-shadow: 0px 8px 10px  rgba(253, 136, 1, 1) ; */
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  }

.button:hover {
  background-color: white  !important;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  color: #000 !important;
  transform: translateY(-7px);
  opacity: 1 !important;
  border-radius: 5px !important;
}
/* Medi */
@media (max-width:1400px) {
  .service_dtl_title {
    font-size: 35px !important;
    font-weight: 500 !important;

  }
}


@media (max-width:940px) {
    .services_block {
        display: flex;
        flex-flow: column-reverse;
        align-items: center;
        padding-top: 60px;
    }
    .service_title {
        align-items: center;
        font-size: 35px;
        
    }
    .services_block_product {
        width: 100%;
    }
    .services_btn a{
      font-weight: 400;
     
      font-size: 20px;
      padding: 13px 50px;
    }
    .services_block_content_text p {
      font-size: 18px;
    }
    .services_block_content h2 {
      padding-bottom: 20px;
     
      font-size: 22px;
      line-height: 30px;
    }
    .services_block_content a {
      padding-top: 30px;
  }
  .services_btn {
    padding: 89px 0px 10px 0px;
  }
  .services_btn_link {
    padding: 70px 0px 89px 0px;
  }
}
@media (max-width:640px) {
  .service_title {
    font-size: 40px;
    padding-bottom: 0px !important;
    margin-left: 5%;
  }
  .services_block_product {
    width: 90%;
  }
}
@media (max-width:460px) {
  .service_title {
    margin-left: 0%;
  }
  .services_block_product {
    width: 100%;
  }
}
@media (max-width:390px) {
  .button{
    font-weight: 400 !important;  
    font-size: 18px !important;
    padding: 10px 40px !important;
  }
}
/* @media (max-width:640px) {
  .service_dtl_title {
   padding-bottom: 50px !important;
  }
} */

/* Project */
.project {
    background-color: white;
}
.projects_block_img img{
    padding: 40px 40px 0px 40px;
    width: 100%;
}
.project_block_content {
    text-align: center;
}
.project_block_content h2 {
    font-size: 26px;
    font-weight: 500;
   
    line-height: 30px;
    color: #000;
}
.proejct_block_content_text p {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
   
}
.project_more_btn {
  padding-bottom: 0px ;
}
/* Shadow */
.project_block_product {
    box-shadow: 4px 4px 20px 4px rgba(0, 0, 0, 0.2);
}
@media (max-width:940px) {
    .projects_block_img img{
        padding: 20px 20px 0px 20px;
    }
    .project_title {
        font-size: 35px;
    }
    .services_block_content h2 {
        font-size: 22px;
        font-weight: 600;
    }
    .services_block_content p {
        font-size: 19px;
        font-weight: 300;
    }
    .project_block_content {
        text-align: left;
    }
}

/* News */

.slide-container{
    /* max-width: 1120px; */
    width: 100%;
    padding: 40px 0;
    background-color:rgba(248, 248, 248, 1);
    
  }
  .slide-content{
    margin: 0 48px;
    overflow: hidden;
    /* border-radius: 25px; */
    padding-top: 70px;
  }
  .news_card{
    /* border-radius: 25px; */
    background-color: #FFF;
    text-decoration: none;
    color: black;
    width: 500px !important;
    margin-right: 56px !important;
  }
  /* .image-content,
  .news_card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    user-select: none;
  } */
  .news_card-content {
    padding: 0px 25px 25px 20px;
  }
  .news_card-content h5 {
   
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  .news_card-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
    color: #707070;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 20px 0px 25px 0px;
  }
  .overlay_news{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #EF7F1A;
    border-radius: 25px 25px 0 25px;
  }
  .overlay_news::before,
  .overlay_news::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #EF7F1A;
  }
  /* .overlay_news::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  } */
  .news_card-image{
    position: relative;
    height: 200px;
    width: 100%;
    /* border-radius: 50%; */
    background: #FFF;
    padding: 0px 20px;
  }
  .news_card-image .news_card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 50%; */
    /* border: 4px solid #EF7F1A;
    padding: 3px */
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  /* .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  } */
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #EF7F1A;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #EF7F1A;
  }
  
  .swiper-navBtn{
    color: #EF7F1A;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #EF7F1A;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 38px;
  }
  .swiper-button-nex{
    right: 0;
    position: relative;
  }
  .swiper-button-pre{
    left: 0;
    position: relative;
  }
  .swiper-pagination-bullet{
    background-color: #EF7F1A;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #EF7F1A;
  }
  .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: none;
  }
  .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: none;
  }
  .new_img {
    width: 40px;
    height: 40px;
    color:  rgba(46, 58, 89, 1);
  }
  .swiper-button-next, .swiper-rtl .swiper-button-prev {
    margin-right: 10px !important;
  }
  .swiper-button-prev, .swiper-rtl .swiper-button-next {
    margin-left: 10px;
  }


  /* Mobi News */
  
  @media screen and (max-width: 1200px) {
    .news_card-content h5{
      font-size: 19px ;
    }
    .news_card-content p{
      font-size: 16px ;
    }
  }



  @media screen and (max-width: 1200px) {
    .slide-content{
      margin: 0 10px;
    }
    .new_img {
      background-color: white;
      color: #000;
      border-radius: 50%;
    }
    .news_card{
      margin-right: 27px !important;
    }
    .news_card-content h5 {
      font-size: 22px;
    }
    .news_card-content p{
      font-size: 16px ;
    }
    .news_card {
      width: 330px !important
    }
  }






/* Layout from */



.lead_form{
  background-color:white;
  padding-top: 100px;
  margin-top: 50px;

}
.lang {
  line-height: normal !important;
}
.lead_form_title{
  color:#000000cc;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
 
}
.consultation_send_form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding-bottom: 50px;
}
.consultation_input {
  border-radius: 0;
  background-color:  rgb(253, 136, 1, 1);
  border: 0;
  /* padding: 20px; */
  height: 50px;
  padding-left: 20px;
  width: 40%;
}
.consultation_input::placeholder{
  color: white;
}
.consultation_send_button {
  background-color: #f1f1f1;
  text-decoration: none;
  font-weight: 600;
  /* margin-top: 50px; */
  padding: 12px 40px;
  color: #121212;
  width: 30%;
  cursor: pointer;
  border: 2px solid #f1f1f1;
  border-radius: 30px;
}
@media (max-width:960px) {
  .consultation_input {
      border-radius: 0;
      /* background-color: #fff; */
      border: 0;
      /* padding: 20px; */
      height: 50px;
      padding-left: 20px;
      width: 80%;
  }
  .consultation_send_button {
      background-color: #f1f1f1;
      text-decoration: none;
      font-weight: 600;
      /* margin-top: 50px; */
      padding: 12px 40px;
      color: #121212;
      width: 80%;
      cursor: pointer;
      border: 2px solid #f1f1f1;
      border-radius: 30px;
  }
  .lead_form_title{
      width: 90%;
      margin-left: 5%;
      /* color:#f1f1f1; */
      font-size: 20px;
  }
}


/* Footer and Map */


.map_contact{
  width: 100%;
  display: inline-block;
  height: auto;
  background-color: #F2F7FA;
}
.map{
  width: 100%;
  height: 500px;
  border: 0;
  z-index: 1;
}
.contact{
  color: #121212;
  align-items: center;
  position: absolute;
  left: 15%;
  display: inline;
  z-index: 0;
  width: 30%;
  height: 250px;
  margin-top: 155px;
  justify-content: center;
  background-color: white;
}
.contact_container{
  display: inline-block;
  padding: 50px;
}
.contact_title{
  color: #121212;
  font-size: 28;
  line-height: 1.17;
  font-weight: 600;
}
.contact_phone{
  font-size: 18px;
  margin-top: 20px;
}
.contact_phone_two{
  margin-top: 10px;
}
.time_work{
  font-size: 18px;
  margin-top: 20px;
  width: 185px;
}
@media (max-width:640px) {
  .contact_container{
      display: flex;
      padding: 50px;
      flex-direction: column;
  }
  .contact{
      /* color: white; */
      align-items: center;
      position: relative;
      left: 0%;
      display: block;
      z-index: 1;
      width: 100%;
      height: 250px;
      margin-top: 0px;
      justify-content: center;
      /* background-color: #00a3ff; */
  }
  .time_work{
      font-size: 18px;
      margin-top: 20px;
      width: 185px;
  }
}

/* footer */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.footer{
margin-top: 0;
  background-color: #f5f2f2;
}
.footer_container{
  display: flex;
  justify-content: space-around;
flex-direction: row;
align-items: center;

}
.footer_date{
margin-top: 5px;
  font-size: 18px;
}
.footer_logo{
  width: 110px;
  height: 90px;
}
.footer_logo_img{
  /* border-radius: 50%; */
  width: 100%;
  height: 100%;
}

.social_network_icon{
  margin-left: 5px;
  color: black;
  font-size: 30px;
}
.social_network_icon:hover{
  margin-left: 5px;
  color: black;
  font-size: 30px;
}

@media (max-width:640px) {
  .footer_container{
      display: flex;
      justify-content: space-around;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  
  }
  .footer_logo{
      width: 100px;
      height: 100px;
  }
  .footer_date{
      margin-top: 15px;
          font-size: 18px;
      }
}

/*powered by */
.powered_by {
  margin-top: 0px;
  height: 50px;
  width: 100%;
  background-color: white;
 display: flex;
 align-items: center;
 justify-content: center;

}
.powered_by_text{
  height: auto;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
font-size: 20px;
}
.powered_by_text p{
margin-bottom: 0;}
.powered_by_text a{
  padding: 5px;
  background-color: black;
  color: white;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  
  text-decoration: none;
  
}
.powered_by_text a:hover{
  padding: 5px;
  background-color: black;
  color: white;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  
  text-decoration: none;
  
}
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.video {
  margin-top: -100px;
  width: 70%;

}
.height_long_video{
  height: 500px;
  margin-top: -100px;
}
.video_src {
  height: auto;
}

.overlay .closebtn {
  cursor: pointer;
  position: absolute;
  top: 80px;
  right: 45px;
  font-size: 60px;
}
.close{
  color: white;
}
@media screen and (max-width: 480px) {
  .overlay a {
      font-size: 20px
  }

  .overlay .closebtn {
      font-size: 40px;
      top: 80px;
      right: 35px;
  }

  .video {
      margin-top: 10px;
      width: 90%;

  }
  .height_long_video{
      height: 500px;
      margin-top: -100px;
  }
}

/*povered by end*/
.auto_open_modal_container{
  width: 80%;
  margin-left: 10%;
  height: 60vh;
}
.overlay_content_auto_modal{
  margin-top: 100px;
}

/* service page */
.service_tit_page {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 150px;
}
.service_more {
  background-color: rgba(233, 231, 231, 0.3) ;
  padding-bottom: 100px;
}

/* Servie DTL */
.service_dtl {
  padding-top: 110px;
  padding-bottom: 100px;
  background-color: rgb(249, 249, 249);
  text-align: center;
}
.service_drl_container {
  width: 80%;
  margin-left: 10%;
}
.service_dtl_block {
  width: 80%;
  margin-left: 10%;
}
.service_dtl_block_img {
  width: 60%;
  height: auto;
}
.service_dtl_title_text_block {
  text-align: left;
}
.service_dtl_title {
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
 
}
.service_dtl_title_text_block {
  padding-top: 20px;
}
.service_dtl_title_text {
  font-size: 16px;
  padding: 8px 0px;
  font-weight: 400;
 
}

/* Project page */
.project_more {
  padding-top: 50px;
}
.project_more_title {
  text-align: center;
  padding-bottom: 70px;
  font-size: 40px;
  font-weight: 600;
 
}
/* Project link */
.project_link {
  text-decoration: none;
}
.project_link_text {
  color: #000;
}

/* News slayder and page */
.news_dtl {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
 
}

/* DTL full mobil */
@media screen and (max-width: 480px) {
  .service_drl_container {
    width: 90%;
    margin-left: 5%;
  }
  .service_dtl_block{
    width: 100%;
    margin-left: 0%;
  }
  .service_dtl_title {
    font-size: 25px;
  }
  .news_dtl {
    font-size: 33px;
  }
  .news_title {
    font-size: 35px;
    padding-bottom: 40px;
  }
 
}
/* DTL Mobil */